

img.hover
{
	border:dashed;
	
}
body, ul, li {
	font-size:14px; 
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
}
div.outline
{
	width:1050px;
	height:1100px;
	margin-top: -20px;
	background-color:white;
	
	Border-radius:6px;
	align:center;
	padding-top:0px;
	
	position:relative;
	right:-160px;
	z-index:100px;
	-webkit-box-shadow: 4px 3px 4px 2px #666666;
	-moz-box-shadow: 4px 3px 4px 2px #666666;

}

body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	/* Page reset */
	margin:0px;
	padding:0px;
}

body{
	/* Setting default text color, background and a font stack */
	color:#000;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #FFF;
}

/* Gallery styles */

#gallery{
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	/* CSS3 Rounded Corners */
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	border:1px solid #CCC;
	background:url(img/panel.jpg) repeat-x bottom center #ffffff;
	/* The width of the gallery */
	width:920px;
	overflow:hidden;
	margin-top: -85px;
}

#slides1{
	/* This is the slide area */
	height:400px;
	
	/* jQuery changes the width later on to the sum of the widths of all the slides. */
	width:920px;
	overflow:hidden;
}

.slide{
	float:left;
}
#menu1{
	/* This is the container for the thumbnails */
	height:45px;
	float: none;
	width: 400px;
}

#cont {
	padding-top: 40px;
}
#cont1 {
	width: 670px;
	height: 300px;
	border: 1px solid #FFF;
	background-repeat: no-repeat;
	text-align: left;
}
#con111 {
	padding-left: 20px;
	padding-right: 15px;
	text-align: left;
	padding-top: 15px;
	background-color:#E0F0F0;
	margin-top:10px;
}
#con222 {
	text-align: left;
	padding-top: -10px;
	padding-right: -30px;
	padding-left: 0px;
	margin-top:10px;
}
#con333 {
	text-align: left;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 20px;
	background-color:#E0F0F0;
	margin-top:10px;
}
#con11 {
	height: 45px;
	width: auto;
	background-image: url(img/panel.jpg);
	background-repeat: no-repeat;
	font-size: 24px;
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
}
#con22 {
	height: 45px;
	width: auto;
	background-image: url(img/panel.jpg);
	background-repeat: no-repeat;
	font-size: 24px;
	text-align: left;
	padding-top: 10px;
	padding-left: 0px;
}
#con33 {
	height: 45px;
	width: auto;
	background-image: url(img/panel.jpg);
		background-repeat: no-repeat;
	font-size: 24px;
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
}

#cont2 {
	width: 290px;
	float: right;
	margin-right: 22px;
	background-repeat: no-repeat;
	height: 300px;
	border: 1px solid #FFF;
}

li1{
	/* Every thumbnail is a li element */
	width:60px;
	display:inline-block;
	list-style:none;
	height:45px;
	overflow:hidden;
	margin-left: 150px;
}
li1.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(img/pic_bg.png) repeat;
}

li1.act,li.act:hover{
	/* The active state of the thumb */
	background:url(img/active_bg.png) no-repeat;
}

li1.act a{
	cursor:default;
}

.fbar{
	/* The left-most vertical bar, next to the first thumbnail */
	width:2px;
	background:url(img/divider.png) no-repeat right;
}

li1 a{
	display:block;
	background:url(img/divider.png) no-repeat right;
	height:35px;
	padding-top:10px;
}

a img{
	border:none;
}


/* The styles below are only necessary for the demo page */

h1{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:36px;
	font-weight:normal;
	margin-bottom:15px;
}
#main1{
	text-align:center;
	width:920px;
	position:relative;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	height: auto;
	margin-top:110px;
}


a, a:visited {
	color:#750a20;
	text-decoration:none;
	outline:none;
}
#fotlinks3 {
	width: 200px;
	float: right;
	padding-top: 20px;
	padding-left: 30px;
	margin-right: 50px;
	text-shadow: 1px 1px 1px #000;
}
#fotlinks4 {
	width: 200px;
	padding-top: 20px;
	padding-left: 30px;
	float: right;
	text-shadow: 1px 1px 1px #000;
}

#fot {
	height: 200px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	background: #014464;
	background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
	background-repeat: repeat-x;
	margin-top: 30px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #CCC;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	color: #FFF;
}
#title {
	height: 140px;
	background: #88CBEC;
	background: -moz-linear-gradient(top, #0272a7, #013953);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88CBEC), to(#629EBB));
	text-decoration:none;
	text-shadow: 2px 2px 2px #000;
}
#title1 {
	margin-right: auto;
	margin-left: auto;
	width: 920px;
	padding-left: 70px;
	padding-top: 20px;
	font-size: 36px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}


#fotlinks5 {
	width: 200px;
}

#fotlinks1 {
	width: 920px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
}
#fotlinks2 {
	height: auto;
	width: 200px;

	text-align: left;
	padding-left: 30px;
	font-size: 14px;
	padding-top: 20px;
	text-shadow: 1px 1px 1px #000;
}
#fotlinks6 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 11px;
}


.white_content .close
{margin-top:0px; float:right; padding:0px;}
.black_overlay{
	float:right;
	display: none;
	position: absolute;
	top: 15%;
	left: 15%;
	width: 100%;
	height: 70%;
	background-color:#6A7984;
	z-index:1001;
	-moz-opacity: 0.85;
	opacity:.85;
	filter: alpha(opacity=85);
}
 
.white_content 
{
	float:right;
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 90%;
	height: 40%;
	padding: 16px;
	background-color: white;
	z-index:1002;
	overflow: auto;
}


a:hover{
	text-decoration:underline;
}



p{
	padding:10px;
	text-align:center;
}
#menutop {
	height: 45px;
}
